.todo {
    margin: 0 auto;
    margin-top: 20px;
    height: 35px;
    padding: 10px;
    width: 45%;
    background-color: rgba(240, 248, 255, 0.844);
    border-radius: 10px 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.text {
    font-size: 20px;
    width: 100%;
    text-align: start;

}

.noteIcon {
    color: rgb(228, 174, 73);
    padding: 10px;
    font-size: 1.8rem;
}



.completedTodo {
    border: 1px solid gray;
    color: gray;
}

.todo.completedTodo .noteIcon,
.todo.completedTodo .checkIcon,
.todo.completedTodo .deleteIcon {
    color: gray;
    border: none;
}

.checkIcon,
.deleteIcon {
    cursor: pointer;
    color: grey;
    padding: 0 7px;
    font-size: 1.7rem;
    transition: transform 0.3s;
}

.checkIcon:hover,
.deleteIcon:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.checkIcon:hover {
    color: green;
}

.deleteIcon:hover {
    color: red;
}