.formWrapper {
    margin-top: 40px;
}

.formInput {
    height: 40%;
    padding: 10px;
    width: 40%;
    font-size: 1.3rem;
    background-color: rgba(240, 248, 255, 0.844);
    border-radius: 10px 10px;
    border: 1px solid black;
    outline: none;
}

.formInput:focus {
    outline: thick double rgb(3, 3, 3);
}